*{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
    gap: 10px;
}
.banner-title{
    font-size: 80px;
    font-weight: 800;
    color: black;
    
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
    margin-top: 32px;
}
.btn-primary{
    background-color: #e55473;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 32px;
}
.text-section{
    padding: 190px 90px 360px 140px;
}

.banner-photo{
    width: 600px;
}